// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #faf0ab;
	}
#container{
	width: 900px;
	height:1000px;
	margin: 0px auto;
	background-color: #feca43;
	padding:10px;
	position: relative;
	}

header{
	height:78px;
	background-color:#3d1c31;
}

h1{
	color: #d0324b;
	font-family:arial;
}

#name_restaurant{
	font-family: times;
	font-size: 1.2em;
	color: #2c0a18;
}

a{
	color: #3d1c31;

	text-decoration:none;
}

#review{
	width:300px;

}

a:visited{
	color:#3d1c31;
}

.link{
	font-family:arial;
	font-size: 0.9em;
}

article{

	margin:10px;
	padding: 10px;
}

#title{
	border-bottom: 1px solid #3d1c31;
	color:black;

}

#new_restaurant{
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
	background-color: #d0324b;
	position: relative;
	top:10px;
	right: 0px;
	width: 130px;
	padding: 5px;
	border-radius: 6px;
}
